h3 {
  font-size: 1.6em;
}

img {
  padding: 20px;
  margin: 10px;
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

section {
  padding: 30px;
}

li, form {
  padding-left: 10px;
}

.nav {
  text-align: center;
  li {
    display: inline;
    padding: 5px;
  }
}
