<section data-ng-init='getUsers()'>
  <ul class='nav'>
    <li><a href='http://localhost:3000/#/home'>HOME</a></li>
    <li><a href='http://localhost:3000/#/tally'>KITTY POOL</a></li>
  </ul>
</section>

<section data-ng-controller="KittyController" data-ng-init='getAll()'>
  <h3>History of Transactions</h3>
    <table>
      <tr>
        <td>Index</td>
        <td>Date</td>
        <td>Amount</td>
        <td>Payer</td>
        <td>Description</td>
      </tr>
      <tr data-ng-repeat='tally in kitty'>
        <td>{{$index + 1}}</td>
        <td>{{convertDate(tally.date)}}</td>
        <td>{{tally.amount}}</td>
        <td>{{matchUser(tally.payer)}}</td>
        <td>{{tally.description}}</td>
        <td><button data-ng-click='deleteTally(tally)'>Delete</button></td>
      </tr>
    </table>

  <h4>Self Distruct The Kitty</h4>
  <ul>
    <li id='user-destruct'>Users <button data-ng-click='selfDestructUser()'>Sure?</button></li>
    <li id='tally-destruct'>Tally <button data-ng-click='selfDestructTally()'>Sure?</button></li>
  </ul>
</section>
